
  *,
:before,
:after{
  box-sizing:border-box;
  margin:0;
  padding:0;
}

h1, h2, h3, h4, h5, h6{
  margin:0;
}

p{
  margin:0;
}

html{
  font-size: calc(100vw/1280*10);
  font-style: normal;
}

.wrapper {
    width: 100%;
    overflow: hidden;
}


$col1: #F57500;
$col2: #303030;
$col3: #252525;
$col4: rgba(255, 255, 255, 0.2);
$size: 7rem;
$sizeM: 5.8rem;
$ff1:'Oswald', sans-serif;
$ff2: 'Raleway', sans-serif;

  .header {
    height: $size;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $col3;
    border-bottom: 0.1rem solid $col4;
  }
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  .logo__icon {
    width:$size;
    display: flex;
    justify-content: center;
    align-items: center;

    &img{
      width:3.4rem;
      height: 3.3rem;
    }
  }
  .logo__text {
    font-family: $ff2;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.5rem;
    letter-spacing: 0.5em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .header__info {
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $ff2;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.2rem;
    letter-spacing: 0.4em;
    text-transform: uppercase;
    color: $col4;
  }
  .header__info-decoration {
    margin-bottom:-0.3rem;
    width: 5rem;
    height: 0.1rem;
    background-color: $col4;
  }
  .header__info-tel {
    margin-left: 10.9rem;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 2.4rem;
    border-right: 0.1rem solid $col4;
    a{
      margin-left: 0.5rem;
      font-family: 'Roboto', sans-serif;
      text-decoration: none;
      color: $col1;
      cursor: pointer;
    }
  }
  .header__info-address {
    margin-right: 10.9rem;
    padding-left: 2.9rem;
    span{
      color:#fff;
    }
  }
  .burger {
    position: relative;
    width: $size;
    height: $size;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $col4;
    cursor: pointer;
    &::before{
      position: absolute;
      content:'';
      width:2rem;
      height: 1.4rem;
      background-image: url(../img/burger.svg);
      background-repeat: no-repeat;
      background-position: 100%;
      background-size: 2rem 1.4rem;
    }
  }

  .intro {
    display: flex;
  }
  .intro__sidebar {
    width: $size;
    height: 65rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: $col2;
    z-index: 10;
  }
  .intro__sidebar-decoration {
    width: 3.5rem;
    height: 5.9rem;
    background-image: url("../img/decoration_01.svg");
    background-repeat: no-repeat;
    background-position: 0;
    background-size: 3.5rem 5.9rem;
  }
  .social {
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 0.1rem solid $col4;
  }
  .social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: $col2;
    transition: 0.8s;
  }
  .social__item img{
    width: 1.34rem;
    height: 1.34rem;
    opacity: 40%;
  }
  .social__item:hover {
    transition: 0.8s;
    background-color: $col1;
  }
  .social__item:hover img{
    opacity: 100%;
  }
  .intro__sidebar .social__item {
    width: 4rem;
    height: 4rem;
    border-bottom: 0.1rem solid $col4;
  }
    .intro__sidebar .social__item:last-child {
    border-bottom:none;
  }
  .intro__sidebar-btn{
    margin-top: 14rem;
    width: $size;
    height: $size;
    background-color: $col1;
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1.2rem 1.2rem;
  }

  .slider-container {
    position: relative;
    width:100%;
    height: 65rem;
    background-color: $col3;
  }

  .slider-bottom {
    position: absolute;
    left:0;
    bottom:0;
    width: 90rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    z-index: 10;
  }
  .slider-social {
    height: $size;
    display: flex;
    justify-content: flex-start;

  }
  .slider-bottom .social__item {
    width: $size;
    height: $size;
    border-right: 0.1rem solid $col4;
  }
  .slider-bottom .social__item:last-child {
    border-right: none;
    position:relative;
  }
  .slider-bottom .social__item:last-child:after {
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: 0.3rem;
    height: 100%;
    background-color: $col1;

  }

  .slider-img {
    width: 90rem;
    height:100%;
    overflow: hidden;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0, 0.45);
      z-index: 2;
    }
  }
  .slider-img__slide{
    height:100%;
    overflow: hidden;

  }
  .slider-img__bg{
    height:100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .slider-text {
    position: absolute;
    z-index: 4;
    width: 100%;
    height: 100%;

  }
  .slider-text__slide {
    padding-right: 21.2rem;
    width: 100%;
    height: 58rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .slider-text__content{
    width:78rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 11;
  }
  .slider-text__heading {
    margin-bottom: 3.1rem;
    font-family: $ff1;
    font-weight: 700;
    font-size: 6rem;
    line-height: 120%;
    text-align: right;
    text-transform: uppercase;
    color: #FFFFFF;
    span{
      color:$col1;
      white-space: nowrap;
    }
  }
  .slider-text__desc{
    margin-bottom: 1.8rem;
    width:50.2rem;
    font-family: $ff2;
    font-weight: 600;
    font-size: 1.3rem;
    line-height: 170%;
    text-align: right;
    color: #FFFFFF;
  }

  .btn{
    position: relative;
    background-color: $col1;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    border:none;
    outline: none;
    color:#fff;
    cursor: pointer;
    &::before{
      content: '';
      position: absolute;
      width: 0;
      height: 100%;
      background-color: $col3;
      top:0;
      left:0;
      transition: width .5s ease-out;
    }
    &:hover, &:focus{
      &::before{
        width:100%;
      }
    }
    span{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: 2;
    }
  }
  .slider__btn{
    width: 17.6rem;
    height: 4.5rem;
  }

  .slider-pagination {
    position: relative;
    width:14rem;
    height:$size;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-pagination-bullets.swiper-pagination-horizontal{
    bottom:auto;
  }

  .swiper-pagination-bullet{
    width: 0.6rem;
    height: 0.6rem;
    opacity: 1;
    background-color: #fff;

  }
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin:0.75rem;
  }

  .swiper-pagination-bullet-active{
    background-color: $col1;
    position: relative;
    &::before{
      content:'';
      width: 1.4rem;
      height: 1.4rem;
      border: 0.1rem solid $col1;
      position: absolute;
      border-radius: 100%;
      left: -0.4rem;
      top: -0.4rem;
    }
  }
  .slider-scrollbar {
    flex:1 0 0;
    position: relative;
    height: $size;
    display: flex;
    justify-content: center;
    align-items: center;
    .swiper-scrollbar{
      width: 40.3rem;
      height:0.1rem;
      background-color: rgba(#fff, .2);
    }
    .swiper-scrollbar-drag{
      top:-0.1rem;
      height: 0.3rem;
      background-color: $col1;
    }
  }
  .swiper-scrollbar.swiper-scrollbar-horizontal {
    position:relative;
  }
  .slider-navigation {
    position: relative;
    padding-bottom: 0.5rem;
    width: 14rem;
    height: $size;
    display: flex;
    justify-content: center;
    align-items: center;
    .swiper-button-prev,.swiper-button-next{
      position: relative;
      margin-top:0;
      display:flex;
      justify-content: center;
      align-items: center;
      width: 3.2rem;
      height: 3.2rem;
      color:$col1;
      background-color:$col4;
      border-radius: 100%;
      border:0.2rem solid $col1;
      top:auto;
      left:auto;
      right: auto;
      bottom:auto;
      &::after{
        display: block;
        font-size: 1rem;
      }
      &.swiper-button-disabled{
        opacity: 1;
        color: #8A8A8A;
        border-color: #8A8A8A;
      }
    }
    .swiper-button-prev{
      margin-right:0.5rem;
    }
  }
  .slider-gear{
    width: 47rem;
    height: 47rem;
    position:absolute;
    top:7.3rem;
    right:7.1rem;
    background-image: url("../img/slider-gear.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 3;
  }

  .slider-pagination-count{
    position:absolute;
    top: 2rem;
    right: 3rem;
    width: 12rem;
    height: 8rem;
    color: #fff;
    font-family: $ff1;
    font-weight: 500;
    font-size: 2.4rem;
    .current{
      display: inline-block;
      min-width:4.2rem;
      font-size: 4rem;
      color: #F57500;
    }
    .total{

    }
  }

  .slider-pagination-current{
    right: 4rem;
    bottom: 1rem;
    position: absolute;
    font-size: 10rem;
    font-family: $ff1;
    color:transparent;
    -webkit-text-stroke: 0.1rem #7f7f7f;
    &__dot{
      color:$col1;
      -webkit-text-stroke: 0.1rem transparent;
    }
  }
  /*----------------------------------popup------------------------------------*/

  /**************************\
  Basic Modal Styles
\**************************/

  .modal {
  }

  .modal__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .modal__container {
    background-color: #fff;
    padding: 2rem;
    max-width: 32rem;
    max-height: 100vh;
    border-radius: 0.4rem;
    overflow-y: auto;
    box-sizing: border-box;
  }

  .modal__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal__title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.25;
    color: #00449e;
    box-sizing: border-box;
  }

  .modal__close {
    background: transparent;
    border: 0;
  }

  .modal__header .modal__close:before { content: "\2715"; }

  .modal__content {
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    color: rgba(0,0,0,.8);
  }

  .modal__btn {
    font-size: .875rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    background-color: #e6e6e6;
    color: rgba(0,0,0,.8);
    border-radius: .25rem;
    border-style: none;
    border-width: 0;
    cursor: pointer;
    -webkit-appearance: button;
    text-transform: none;
    overflow: visible;
    line-height: 1.15;
    margin: 0;
    will-change: transform;
    -moz-osx-font-smoothing: grayscale;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: -webkit-transform .25s ease-out;
    transition: transform .25s ease-out;
    transition: transform .25s ease-out,-webkit-transform .25s ease-out;
  }

  .modal__btn:focus, .modal__btn:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }

  .modal__btn-primary {
    background-color: #00449e;
    color: #fff;
  }
  /*-------------------------------------------------------------------------------*/
  .modal{
    z-index: 1000000000;
    position:absolute;
    font-family: $ff2;
  }

  .modal__container{
    width: 100%;
    background-color: $col2;
    border: 0.1rem solid lighten($col2, 6);
    box-shadow: 0 0 0 0.8rem rgba(#fff, .1);
    border-radius:0;
  }

  .modal__title{
    color:#fff;
    text-transform: uppercase;
    font-family: $ff1;
    font-weight:400;
    display: block;
    width: 100%;
  }

  .modal__close{
    color: #fff;
    opacity: 0.25;
    transition: opacity .25 ease-in;
    &:hover{
      opacity: 1;
    }
    &:before{
      font-size: 1.5rem;
    }
  }

  .form-input{
    display: block;
    background-color: $col3;
    border:0.1rem solid lighten($col3, 7);
    padding: 1.2rem 1.8rem;
    min-width:28rem;
    color: #fff;
    font-size: 1.5rem;
    transition: border .25 ease-in;
    outline: none;
    &:focus{
      border: 0.1rem solid lighten($col3, 20)
    }
  }
  .modal__header{
    text-align: center;
  }

  .modal__input{
    margin-bottom:0.8rem;
  }

  textarea.form-input{
    min-width:28rem;
    height: 10rem;
  }

  .modal__footer{
    text-align: center;
  }

  .form__btn{
    width: 17.6rem;
    height: 4.5rem;
  }

  /**************************\
    Demo Animation Style
  \**************************/
  @keyframes mmfadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }

  @keyframes mmfadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
  }

  @keyframes mmslideIn {
    from { transform: translateY(15%); }
    to { transform: translateY(0); }
  }

  @keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
  }

  .micromodal-slide {
    display: none;
  }

  .micromodal-slide.is-open {
    display: block;
  }

  .micromodal-slide[aria-hidden="false"] .modal__overlay {
    animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  .micromodal-slide[aria-hidden="false"] .modal__container {
    animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
  }

  .micromodal-slide[aria-hidden="true"] .modal__overlay {
    animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
  }

  .micromodal-slide[aria-hidden="true"] .modal__container {
    animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
  }

  .micromodal-slide .modal__container,
  .micromodal-slide .modal__overlay {
    will-change: transform;
  }

  /*----------------------------------@media----------------------------------------------*/

  @media(max-width:1025px) {
    html {
      font-size: calc(100vw / 1150 * 10);
    }
    .slider-gear {
      right: 2rem;
    }
    .slider-text__slide {
      padding-right: 14.2rem;
    }
    .cursor{
      display: none;
    }
  }
  @media(max-width:768px){
    html{
      font-size: calc(100vw/320*10);
     }
    .logo__text,
    .header__info-decoration,
    .header__info-address,
    .intro__sidebar-decoration,
    .slider-pagination,
    .slider-scrollbar,
    .slider-pagination-count,
    .slider-pagination-current,
    .slider-gear{
      display:none;
    }

    .header {
      height: $sizeM;
    }
    .logo__icon {
      width: $sizeM;
    }
    .header__info {
      font-size: 0.9rem;
      letter-spacing: 0.2em;
    }
    .header__info-tel {
      margin-left: 2rem;
      border-right:none;
    }
    .burger {
      height: $sizeM;
      width: $sizeM;
    }
    .intro__sidebar {
      width: $sizeM;
    }
    .social {
      margin-top: 5rem;
    }
    .intro__sidebar-btn {
      margin-top: 38rem;
      width: $sizeM;
      height: $sizeM;
    }
    .slider-container {
      width: 26.2rem;
    }
    .slider-text__slide {
      padding-right: 0;
      height: 59rem;
    }
    .slider-text__content {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      width: 100%;
    }
    .slider-text__heading {
      font-size: 2.6rem;
      width:100%;
      span{
        white-space: normal;
      }
    }
    .slider-text__desc {
      width: 100%;
    }
    .slider-img {
        width: 100%;
    }
    .slider-bottom {
      height: $sizeM;
    }
    .slider-social {
      height: $sizeM;
    }
    .slider-bottom .social__item{
      width: $sizeM;
      height: $sizeM;
    }
    .slider-navigation {
      margin-left: 1rem;
      width: auto;
      height: $sizeM;

    }
  }

  /*----------------------------------cursor----------------------------------------*/

  .cursor{
    position: absolute;
    width: 1.7rem;
    height: 1.7rem;
    background-color: $col1;
    z-index: 10000;
    border-radius: 100%;
    user-select:none;
    pointer-events: none;
    margin: -0.85rem 0 0 -0.85rem;
    transform: scale(1);
    transition:transform .65s cubic-bezier(.75, -1.27, .3, 2.33);
    &.active{
      transform: scale(3.4);
      background-color:rgba(#fff, .1);
      border: 0.01rem solid $col1;
    }
    &.hidden{
      transform: scale(0.001);
    }
  }
  
